VITE_API_URL=http://localhost:8000/api
VITE_TICKET_BUSINESS_NAME=CORTE Y ESTILO
VITE_QZ_DEFAULT_PRINTER=
VITE_QZ_WS_HOST=localhost
VITE_QZ_WS_PORT_SECURE=8181
VITE_QZ_WS_PORT_INSECURE=8282

# Produccion (firmado recomendado)
# VITE_QZ_CERT_PEM=-----BEGIN CERTIFICATE-----...-----END CERTIFICATE-----
# VITE_QZ_SIGN_ENDPOINT=https://tu-backend.com/api/qz
